body{
    /* margin: 20px 100px; */
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#9038a1,#ca8bd7,#9038a1);
}
#keycheck{
    width: 100%;
    height: 20vh;
    background: linear-gradient(to right, #3b0843,#8b129e,#3b0843);
    padding: 10px 0 0 0;
}
#heading{
    text-align: center;
    font-size: 50px;
    
    font-family: jokerman;
    color: cornsilk;  
    padding: 30px 0;  
    margin-top: 5px;
    animation: title 1.5s linear 1;
}
@keyframes title{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1.02);
    }
}
@keyframes heading{
    from{
        opacity: 0;
        margin-left: 0%;
    }
    to{
        opacity: 1;
        margin-left: 25%;
    }
}
input{
    width: 40%;
    height: 10vh;
    margin-top: 3%;
    margin-left:25%;
    outline: none;
    border: 4px solid #3b0843; 
    padding: 20px;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    animation: heading 1.5s linear 1;
    

}

p{
    text-align: center;
    font-size: 40px;
   background-color: #3b0843;
    color: cornsilk;
    padding: 10px 0;
    font-family: castellar;
    margin: 2%;
    margin-top: 4%;
}

#element{
    width:100px;
    border: 3px solid #c7d3e1;
    
    padding: 5px 25px;
    margin: 10px;
    color: #e299c3;
}
input:hover{
    box-shadow: 0 0 20px black;
    border-top-right-radius: 20px;
    
    border-bottom-left-radius: 20px;
}

#info{
    text-align: left;
    font-size: 40px;
    font-family:Arial;
    background-color: #3b0843;
    color: cornsilk;
    padding: 20px 10px;
    width: 40%;
    margin:2%;
    animation: info 1.5s linear 1;
}
@keyframes info{
    from{
        opacity: 0;
        margin-bottom: -10px;
    }
    to{
        opacity: 1;
        margin-bottom: 0;
    }
}
#subheading{
    color: #e299c3;
    font-family: castellar;
    font-size: 40px;
    
    font-weight: bold;
}
#contain{
    display: flex;
    justify-content: space-between;
}